@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1D2244;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #1D2244;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-infinity-stroke {
  /* La barra visible tendr치 un segmento de 150px de largo */
  /* El espacio restante ser치 de 600px (150 + 600 = 750) */
  stroke-dasharray: 150 600;

  /* Animaci칩n: se mover치 a lo largo del path */
  animation: infinity-dash 2s linear infinite;
}

@keyframes infinity-dash {

  /* Empieza con la barra desplazada (offset total) */
  from {
    stroke-dashoffset: 750;
  }

  /* Termina con la barra completamente desplazada */
  to {
    stroke-dashoffset: -150;
  }
}